.App {
  text-align: center;
  
}

.banner {
  background-image: url("books-1655783_1920.jpg");
  background-size: cover;
  height: 800px;
  width: 100%;
  margin-top: 0px;
  overflow: scroll;
}

.searchBox {
  
  border: 1px solid;
  border-radius: 10px;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  width: 33%;
  background-color: white;
}

.results{
  background-color: green;
  border-radius: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.book {
  border: solid 1px black;
  border-radius: 10px;
}

h4 {
  border-bottom: solid 1px black;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  padding-left: 10px;
  margin-top: 0px;
}

p {
  text-align: left;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin: 20px;
  color: black;
}
button {
  border-radius: 10px;
}

.placeholder {

  height: 100px;
  width: 100px;
}
.bookLink {
  width: 100%;
  color: white;
}

